@import "./reset.css";
@import "./components/header.css";
@import "./components/main.css";
@import "./components/main--write.css";
@import "./components/article-section.css";
@import "./components/main--detail.css";
@import "./screens/login.css";
@import "./screens/sign-up.css";


html, body {
  height: 100%;
  width: 100%;
  background-image:url("../img/BG.jpg");
}

.hidden{
  display:none;
}