.header{
  display:flex; 
  justify-content: flex-end;
  align-items: center;
}

.header__href{
  margin-right:10px;
  color:white;
}

.header__href:hover{
  cursor: pointer;
}

.header__login-container{
  width:100%;
  display:flex;
  justify-content: space-between;
}