span {
  color:white;
  width:58px;
}

.detail-input{
  height:48px;
  margin-right: 5px;
  font-size: 19px;
  font-weight: 600;
}

.main__container{
  display: flex;
  flex-direction: row;
}

.main__div--detail{
  flex:1;
}

#img--detail{
  border:1px solid white;
}

#today{
  background-color:white;
  color:black;
}

.main__h1--detail{
  word-wrap:break-word !important;
}

.main--detail{
  margin-top:55px;
}


.detail-btns{
  width: 140px;
  height: 36px;
  border-radius: 7px;
  background-color: white;
  margin-top: 5px;
  font-weight: 800;
  font-size: 20px;
}